.nav {
    display: grid;
    align-items: center;
    justify-content: center;

    grid-template-columns: repeat(4, 1fr);

    position: fixed;
    bottom: 0;
    left: 0;

    height: 5rem;
    width: 100vw;

    background-color: rgb(219, 219, 219);

    --accent-color: 47, 10, 47;
    --nav-link-icon-color: gray;

    border-radius: 3rem 3rem 1rem 1rem;
}

.nav > a {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    height: 50px;
    width: 50px;
    transition: all 200ms;
}

.nav > a:has(svg.current) {
    border-radius: 50% 50% 25% 25%;
    background-color: rgba(var(--accent-color), 0.75);
}

.nav svg {
    height: 100%;
    max-width: 30px;
    fill: var(--nav-link-icon-color);
}

.nav > a > svg.current {
    fill: white;
}
.nav svg.scale-down {
    max-height: 22px;
    max-width: 22px;
}

.nav svg.scale-down-light {
    max-height: 24px;
    max-width: 24px;
}
